# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Ignore all .DS_Store files from any directory
**/.DS_Store
.DS_Store

# Ignore everything inside the sites/ directory
sites/*

# Data including the GeoIP database
data/*

# Log files
log/*
logs/*

_*.*

.vscode/

sql/default.sql

init.sh
run.sh
.env.vault
TODO.txt
/Readme
